#container {
  margin: auto
}

#form {
  margin: auto;
  margin-top: 20%;
  text-align: center;
}

.janus-container {
  margin: auto;
}

.grid-container {
  display: grid;
  place-items: center;
}

.janus-video video {
  width: 320px;
  height: 240px;
}

input {
  display: block;
  margin: auto;
  width: 20%;
  padding: 12px 20px;
  margin-bottom: 25px;
}

button {
  width: 10%;
  padding: 6px 10px;
}